blockchain: "Example Chain" # Name of blockchain i.e "Ethereum"
chain_id: 1              # Chain ID, can be found at https://chainlist.org/
network_name: "Example"  # Name of the blokckchain network i.e Rinkeby
network_type: "Example"  # Type of the blockchain network, only two values allowed (Mainnet|Testnet)
connection_parameters:
  open_timeout: 6 # Timeout when opening websocket connection
  close_timeout: 1 # Timeout when closing websocket connection
  response_timeout: 5 # Timeout when waiting for a websocket message response
  ping_interval: 6 # Liveness ping intervals
  ping_timeout: 3 # Liveness ping timeout
collector: "evm" # This will load different collectors based on what mode exporter will run with Supported modes are: "evm", "solana", "conflux", "cardano", "bitcoin"
endpoints: # List of endpoints with their metadata.
  - url: wss://example-rpc-1.com/ws # RPC Endpoint websocket endpoint (Must start with wss:// or https://)
    provider: Provider1 # Provider (Must be present in allowed providers list. Please check src/settings.py line 24) The purpose is to make sure we do not have same providers spelled differently                       
  - url: wss://example-rpc-2.com/ws
    provider: Provider2
  - url: wss://example-rpc-3.com/ws
    provider: Provider3
  # Solana specific
  - url: https://example-solana-rpc-1.com/rpc
    subscribe_url: wss://example-solana-rpc-1.com/ws
    provider: Provider3





## 